*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    padding: 0 32px;
}

.navbar{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(4, 235, 235);
}

.navbar__lists {
    list-style-type: none;
    font-family: Georgia, serif;
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;

}

button{
    border-radius: 22px;
    background-color: rgb(69, 82, 232);
    padding: 12px 28px;
    color: white;
    border: none;
  
}

.box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.Leo_Messi{
    width: 600px;
    height: 470px;
    padding-top: 15px;
}
img{
    width: 100%;
    height: 100%;
}

.box_1{
    display: flex;
    gap: 50px;
    padding: 10px 0;
}

.box_2{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
   
}
.box_2 div{
    color: rgb(93, 91, 91);
    font-size: 10px;
}
h1{
    width: 450px;
    padding: 15px 0;
}
.btn{
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 11px 22px;  
}